<!DOCTYPE html>
<html>
  <head>
      <% include ../../partials/head.ejs %>
  </head>
  <body>
    <nav>
        <% include ../../partials/nav.ejs %>
    </nav>
    <div class="container">
      <h3>Edit Recipe</h3>
        <div class="jumbo">
          <form class="edit" action="/recipes/<%=recipe.id%>?_method=PUT" method="POST">
            <label for="name">Name: </label>
            <input type="text" name="name" value="<%=recipe.name%>">
            <label for="img">Image: </label>
            <input type="text" name="image" value="<%=recipe.image%>">
            <label for="directions">Directions: </label>
            <textarea id="directions" name="directions"><%=recipe.directions%></textarea>
            <label for="tags">Tags: </label>
            <input type="text" name="tags" value="<%=recipe.tags%>">
            <input type="submit" name="submit" value="submit" class="edit-button">
            <button class="back-btn" onclick="location.href='/app/'" type="button">CANCEL</button>
          </form>
          <h6></h6>
          <img src="<%= recipe.image %>" alt="An image of <%= recipe.name %>" />
        </div>
    </div>
    <% include ../../partials/footer.ejs %>
  </body>
</html>
