<!DOCTYPE html>
<html>
  <head>
      <% include ../../partials/head.ejs %>
  </head>
  <body>
    <nav>
        <% include ../../partials/navFull.ejs %>
    </nav>
    <div class="container">
        <h3 class="recipe-name"><%= recipe.name %></h3>
        <h6>from the kitchen of <%= recipe.submitter %></h6>
    </div>
    <div class="show-container">
        <div class="medium-pic">
            <img src="<%= recipe.image %>" alt="An image of <%= recipe.name %>" class="show"/>
        </div>
        <div class="dir-container">
            <span class="recipe">
                <!-- Recipe directions stored in array to enable line breaks where needed -->
                <% for ( let i = 0; i < recipeAry.length; i++ ) { %>
                    <%= recipeAry[i] %> <br/>
                <%}%>
            </span>
        </div>
    </div>
    <div class="btn-wrapper">
        <% if ( recipe.submitter === currentUser  ||  currentUser === "Karen" ) { %>
            <a href="/recipes/<%=recipe.id%>/edit"><button type="button" name="button" class="show-btn btn waves-effect waves-light btn-font">edit</button></a>
            <form class="col s12" action="/recipes/<%=recipe.id%>/<%=recipe.tag%>?_method=DELETE" method="POST">
                <input type="submit" name="submit" value="delete" class="show-btn btn waves-effect waves-light btn-font">
            </form>
        <% } %>
        <a href="/recipes/search/<%=recipe.tag%>"><button type="button" name="button" class="show-btn btn waves-effect waves-light btn-font"><%=recipe.tag%></button></a>
    </div>
    <footer class="footer">
        <% include ../../partials/footer.ejs %>
    </footer>
  </body>
</html>
