<!DOCTYPE html>
<html>
  <head>
      <% include ../../partials/head.ejs %>
  </head>
  <body>
    <nav>
        <% include ../../partials/navFull.ejs %>
    </nav>
    <div class="container">
        <h4><%= recipe.name %></h4>
        <h7>From the kitchen of <%= recipe.submitter %></h7>
    </div>
    <div class="show-container">
        <div class="medium-pic">
            <img src="<%= recipe.image %>" alt="An image of <%= recipe.name %>" class="show"/>
        </div>
        <div class="dir-container">
            <pre><span class="recipe"><%= recipe.directions %></span></pre>
        </div>
    </div>
    <div class="btn-wrapper">
        <% if ( recipe.submitter === currentUser  ||  currentUser === "Karen" ) { %>
            <a href="/recipes/<%=recipe.id%>/edit"><button type="button" name="button" class="show-btn btn waves-effect waves-light">EDIT</button></a>
            <form class="col s12" action="/recipes/<%=recipe.id%>?_method=DELETE" method="POST">
                <input type="submit" name="submit" value="DELETE" class="show-btn btn waves-effect waves-light">
            </form>
        <% } %>
    </div>
    <footer class="footer">
        <% include ../../partials/footer.ejs %>
    </footer>
  </body>
</html>
